//
// Generated (version 2022.2-SP6.4<build 146967>) at Wed Mar 25 12:37:00 2026
//

module sys_pll
(
    input clkin1,
    output clkout0
);
    wire clkout0_2pad;
    wire clkout1;
    wire clkout2;
    wire clkout3;
    wire clkout4;
    wire clkout5;
    wire clkswitch_flag;
    wire pll_lock;

    GTP_PLL_E3 /* u_pll_e3 */ #(
            .CLKIN_FREQ(50), 
            .PFDEN_EN("FALSE"), 
            .VCOCLK_DIV2(1'b0), 
            .DYNAMIC_RATIOI_EN("FALSE"), 
            .DYNAMIC_RATIOM_EN("FALSE"), 
            .DYNAMIC_RATIO0_EN("FALSE"), 
            .DYNAMIC_RATIO1_EN("FALSE"), 
            .DYNAMIC_RATIO2_EN("FALSE"), 
            .DYNAMIC_RATIO3_EN("FALSE"), 
            .DYNAMIC_RATIO4_EN("FALSE"), 
            .DYNAMIC_RATIOF_EN("FALSE"), 
            .STATIC_RATIOI(2), 
            .STATIC_RATIOM(1), 
            .STATIC_RATIO0(24), 
            .STATIC_RATIO1(16), 
            .STATIC_RATIO2(16), 
            .STATIC_RATIO3(16), 
            .STATIC_RATIO4(16), 
            .STATIC_RATIOF(24), 
            .DYNAMIC_DUTY0_EN("FALSE"), 
            .DYNAMIC_DUTY1_EN("FALSE"), 
            .DYNAMIC_DUTY2_EN("FALSE"), 
            .DYNAMIC_DUTY3_EN("FALSE"), 
            .DYNAMIC_DUTY4_EN("FALSE"), 
            .STATIC_DUTY0(24), 
            .STATIC_DUTY1(16), 
            .STATIC_DUTY2(16), 
            .STATIC_DUTY3(16), 
            .STATIC_DUTY4(16), 
            .STATIC_PHASE0(0), 
            .STATIC_PHASE1(0), 
            .STATIC_PHASE2(0), 
            .STATIC_PHASE3(0), 
            .STATIC_PHASE4(0), 
            .STATIC_PHASEF(0), 
            .STATIC_CPHASE0(0), 
            .STATIC_CPHASE1(0), 
            .STATIC_CPHASE2(0), 
            .STATIC_CPHASE3(0), 
            .STATIC_CPHASE4(0), 
            .STATIC_CPHASEF(0), 
            .CLK_CAS1_EN("FALSE"), 
            .CLK_CAS2_EN("FALSE"), 
            .CLK_CAS3_EN("FALSE"), 
            .CLK_CAS4_EN("FALSE"), 
            .CLKOUT5_SEL(0), 
            .CLKIN_BYPASS_EN("FALSE"), 
            .CLKOUT0_SYN_EN("FALSE"), 
            .CLKOUT0_EXT_SYN_EN("FALSE"), 
            .CLKOUT1_SYN_EN("FALSE"), 
            .CLKOUT2_SYN_EN("FALSE"), 
            .CLKOUT3_SYN_EN("FALSE"), 
            .CLKOUT4_SYN_EN("FALSE"), 
            .CLKOUT5_SYN_EN("FALSE"), 
            .INTERNAL_FB("ENABLE"), 
            .EXTERNAL_FB("DISABLE"), 
            .DYNAMIC_LOOP_EN("FALSE"), 
            .LOOP_MAPPING_EN("FALSE"), 
            .BANDWIDTH("OPTIMIZED"))
        u_pll_e3 (
            .DUTY0 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .DUTY1 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .DUTY2 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .DUTY3 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .DUTY4 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .ICP_SEL ({1'b0, 1'b0, 1'b0, 1'b0}),
            .LPFRES_SEL ({1'b0, 1'b0, 1'b0}),
            .PHASE_SEL ({1'b0, 1'b0, 1'b0}),
            .RATIO0 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .RATIO1 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .RATIO2 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .RATIO3 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .RATIO4 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .RATIOF ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .RATIOI ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .RATIOM ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .CLKOUT0 (clkout0),
            .CLKOUT0_EXT (clkout0_2pad),
            .CLKOUT1 (clkout1),
            .CLKOUT2 (clkout2),
            .CLKOUT3 (clkout3),
            .CLKOUT4 (clkout4),
            .CLKOUT5 (clkout5),
            .CLKSWITCH_FLAG (clkswitch_flag),
            .LOCK (pll_lock),
            .CLKFB (1'b0),
            .CLKIN1 (clkin1),
            .CLKIN2 (1'b0),
            .CLKIN_SEL (1'b0),
            .CLKIN_SEL_EN (1'b0),
            .CLKOUT0_EXT_SYN (1'b0),
            .CLKOUT0_SYN (1'b0),
            .CLKOUT1_SYN (1'b0),
            .CLKOUT2_SYN (1'b0),
            .CLKOUT3_SYN (1'b0),
            .CLKOUT4_SYN (1'b0),
            .CLKOUT5_SYN (1'b0),
            .CRIPPLE_SEL (1'b0),
            .ICP_BASE (1'b0),
            .LOAD_PHASE (1'b0),
            .PFDEN (1'b0),
            .PHASE_DIR (1'b0),
            .PHASE_STEP_N (1'b0),
            .PLL_PWD (1'b0),
            .RST (1'b0),
            .RSTODIV (1'b0));
	// ../ipcore/sys_pll/sys_pll.v:228
	// SDC constraint : (object CLKOUT0) (id 1001) (clock sys_clk|sys_pll_u0/u_pll_e3/CLKOUT0_Inferred) (inferred)


endmodule


module TSP_AXI_Interconnect
(
    input rst_n,
    output \u_UART/rst_1 
);

    GTP_INV N18_1 (
            .Z (\u_UART/rst_1 ),
            .I (rst_n));


endmodule


module TSP_Ifu
(
    input clk,
    input s_axi_arvalid,
    input s_axi_awvalid,
    input s_axi_bready,
    input s_axi_rready,
    input s_axi_wvalid,
    input \u_UART/rst_1 ,
    output nt_ext_axi_if_wready,
    output s_axi_arready,
    output s_axi_bvalid,
    output s_axi_rvalid
);
    wire N110;
    wire N113;
    wire axi_ar_ready_cond;
    wire axi_aw_ready_cond;

    GTP_LUT4 /* N6_4 */ #(
            .INIT(16'b0000001000000000))
        N6_4 (
            .Z (axi_aw_ready_cond),
            .I0 (s_axi_awvalid),
            .I1 (s_axi_bvalid),
            .I2 (nt_ext_axi_if_wready),
            .I3 (s_axi_wvalid));
	// LUT = I0&~I1&~I2&I3 ;

    GTP_LUT3 /* N10_3 */ #(
            .INIT(8'b00000100))
        N10_3 (
            .Z (axi_ar_ready_cond),
            .I0 (s_axi_arready),
            .I1 (s_axi_arvalid),
            .I2 (s_axi_rvalid));
	// LUT = ~I0&I1&~I2 ;

    GTP_LUT3 /* N110 */ #(
            .INIT(8'b11111000))
        N110_vname (
            .Z (N110),
            .I0 (s_axi_bready),
            .I1 (s_axi_bvalid),
            .I2 (nt_ext_axi_if_wready));
    // defparam N110_vname.orig_name = N110;
	// LUT = (I2)|(I0&I1) ;
	// ../source/core/Ifu.v:72

    GTP_LUT3 /* N113 */ #(
            .INIT(8'b11101010))
        N113_vname (
            .Z (N113),
            .I0 (s_axi_arready),
            .I1 (s_axi_rready),
            .I2 (s_axi_rvalid));
    // defparam N113_vname.orig_name = N113;
	// LUT = (I0)|(I1&I2) ;
	// ../source/core/Ifu.v:72

    GTP_DFF_C /* arready_r */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        arready_r (
            .Q (s_axi_arready),
            .C (\u_UART/rst_1 ),
            .CLK (clk),
            .D (axi_ar_ready_cond));
	// ../source/core/Ifu.v:72

    GTP_DFF_C /* awready_r */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        awready_r (
            .Q (nt_ext_axi_if_wready),
            .C (\u_UART/rst_1 ),
            .CLK (clk),
            .D (axi_aw_ready_cond));
	// ../source/core/Ifu.v:72

    GTP_DFF_CE /* bvalid_r */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        bvalid_r (
            .Q (s_axi_bvalid),
            .C (\u_UART/rst_1 ),
            .CE (N110),
            .CLK (clk),
            .D (nt_ext_axi_if_wready));
	// ../source/core/Ifu.v:72

    GTP_DFF_CE /* rvalid_r */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        rvalid_r (
            .Q (s_axi_rvalid),
            .C (\u_UART/rst_1 ),
            .CE (N113),
            .CLK (clk),
            .D (s_axi_arready));
	// ../source/core/Ifu.v:72


endmodule


module TSP_Core
(
    input clk,
    input s_axi_if_arvalid,
    input s_axi_if_awvalid,
    input s_axi_if_bready,
    input s_axi_if_rready,
    input s_axi_if_wvalid,
    input \u_UART/rst_1 ,
    output s_axi_if_arready,
    output s_axi_if_bvalid,
    output s_axi_if_rvalid,
    output s_axi_if_wready
);

    TSP_Ifu u_TSP_Ifu (
            .nt_ext_axi_if_wready (s_axi_if_wready),
            .s_axi_arready (s_axi_if_arready),
            .s_axi_bvalid (s_axi_if_bvalid),
            .s_axi_rvalid (s_axi_if_rvalid),
            .clk (clk),
            .s_axi_arvalid (s_axi_if_arvalid),
            .s_axi_awvalid (s_axi_if_awvalid),
            .s_axi_bready (s_axi_if_bready),
            .s_axi_rready (s_axi_if_rready),
            .s_axi_wvalid (s_axi_if_wvalid),
            .\u_UART/rst_1  (\u_UART/rst_1 ));
	// ../source/core/core.v:102


endmodule


module uart_tx
(
    input clk,
    input nt_rst_n,
    input \u_UART/rst_1 ,
    output txd
);
    wire N4;
    wire N110;
    wire N120;
    wire [18:0] N121;
    wire [19:0] \N121_3.co ;
    wire N124;
    wire N127;
    wire [3:0] N161;
    wire _N2546;
    wire _N2550;
    wire _N2554;
    wire _N2556;
    wire [3:0] bit_cnt;
    wire [18:0] nb0;
    wire [18:0] prescale_reg;

    GTP_LUT5 /* N4_mux18_7 */ #(
            .INIT(32'b11111111111111111111111111111110))
        N4_mux18_7 (
            .Z (_N2546),
            .I0 (prescale_reg[0]),
            .I1 (prescale_reg[1]),
            .I2 (prescale_reg[2]),
            .I3 (prescale_reg[4]),
            .I4 (prescale_reg[11]));
	// LUT = (I0)|(I1)|(I2)|(I3)|(I4) ;

    GTP_LUT5 /* N4_mux18_11 */ #(
            .INIT(32'b11111111111111111111111111111110))
        N4_mux18_11 (
            .Z (_N2550),
            .I0 (prescale_reg[6]),
            .I1 (prescale_reg[7]),
            .I2 (prescale_reg[8]),
            .I3 (prescale_reg[10]),
            .I4 (prescale_reg[12]));
	// LUT = (I0)|(I1)|(I2)|(I3)|(I4) ;

    GTP_LUT5 /* N4_mux18_15 */ #(
            .INIT(32'b11111111111111111111111111111110))
        N4_mux18_15 (
            .Z (_N2554),
            .I0 (prescale_reg[13]),
            .I1 (prescale_reg[14]),
            .I2 (prescale_reg[15]),
            .I3 (prescale_reg[16]),
            .I4 (prescale_reg[17]));
	// LUT = (I0)|(I1)|(I2)|(I3)|(I4) ;

    GTP_LUT5 /* N4_mux18_17 */ #(
            .INIT(32'b11111111111111111111111111111110))
        N4_mux18_17 (
            .Z (_N2556),
            .I0 (prescale_reg[3]),
            .I1 (prescale_reg[5]),
            .I2 (prescale_reg[9]),
            .I3 (prescale_reg[18]),
            .I4 (_N2546));
	// LUT = (I0)|(I1)|(I2)|(I3)|(I4) ;

    GTP_LUT3 /* N4_mux18_19 */ #(
            .INIT(8'b11111110))
        N4_mux18_19 (
            .Z (N4),
            .I0 (_N2550),
            .I1 (_N2554),
            .I2 (_N2556));
	// LUT = (I0)|(I1)|(I2) ;

    GTP_LUT2 /* N34_sum1_1 */ #(
            .INIT(4'b1001))
        N34_sum1_1 (
            .Z (N161[1]),
            .I0 (bit_cnt[0]),
            .I1 (bit_cnt[1]));
	// LUT = (~I0&~I1)|(I0&I1) ;

    GTP_LUT3 /* N34_sum2_1 */ #(
            .INIT(8'b11100001))
        N34_sum2_1 (
            .Z (N161[2]),
            .I0 (bit_cnt[0]),
            .I1 (bit_cnt[1]),
            .I2 (bit_cnt[2]));
	// LUT = (I0&I2)|(I1&I2)|(~I0&~I1&~I2) ;

    GTP_LUT4 /* N34_sum3_1 */ #(
            .INIT(16'b1111111000000001))
        N34_sum3_1 (
            .Z (N161[3]),
            .I0 (bit_cnt[0]),
            .I1 (bit_cnt[1]),
            .I2 (bit_cnt[2]),
            .I3 (bit_cnt[3]));
	// LUT = (I0&I3)|(I1&I3)|(I2&I3)|(~I0&~I1&~I2&~I3) ;

    GTP_LUT1 /* N78 */ #(
            .INIT(2'b01))
        N78 (
            .Z (N161[0]),
            .I0 (bit_cnt[0]));
	// LUT = ~I0 ;

    GTP_LUT2 /* N110 */ #(
            .INIT(4'b1101))
        N110_vname (
            .Z (N110),
            .I0 (nt_rst_n),
            .I1 (N127));
    // defparam N110_vname.orig_name = N110;
	// LUT = (~I0)|(I1) ;
	// ../source/uart/uart_tx.v:65

    GTP_LUT5 /* N120_3 */ #(
            .INIT(32'b11111111111111111111111111111110))
        N120_3 (
            .Z (N120),
            .I0 (N4),
            .I1 (bit_cnt[0]),
            .I2 (bit_cnt[1]),
            .I3 (bit_cnt[2]),
            .I4 (bit_cnt[3]));
	// LUT = (I0)|(I1)|(I2)|(I3)|(I4) ;

    GTP_LUT5CARRY /* \N121_3.fsub_1  */ #(
            .INIT(32'b10011001100110010000000000000000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("FALSE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        \N121_3.fsub_1  (
            .COUT (\N121_3.co [1] ),
            .Z (N121[0]),
            .CIN (),
            .I0 (N127),
            .I1 (prescale_reg[0]),
            .I2 (),
            .I3 (),
            .I4 (1'b1),
            .ID ());
	// LUT = ~I1^I0 ;
	// CARRY = (1'b0) ? CIN : (I4) ;

    GTP_LUT5CARRY /* \N121_3.fsub_2  */ #(
            .INIT(32'b11100001111000011111111011111110), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("FALSE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        \N121_3.fsub_2  (
            .COUT (\N121_3.co [2] ),
            .Z (N121[1]),
            .CIN (\N121_3.co [1] ),
            .I0 (N127),
            .I1 (prescale_reg[0]),
            .I2 (prescale_reg[1]),
            .I3 (),
            .I4 (1'b0),
            .ID ());
	// LUT = (~I0&~I1&~I2)|(I1&I2)|(I0&I2) ;
	// CARRY = ((I2)|(I1)|(I0)) ? CIN : (I4) ;

    GTP_LUT5CARRY /* \N121_3.fsub_3  */ #(
            .INIT(32'b10011001100110010011001100110011), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        \N121_3.fsub_3  (
            .COUT (\N121_3.co [3] ),
            .Z (N121[2]),
            .CIN (\N121_3.co [2] ),
            .I0 (),
            .I1 (prescale_reg[2]),
            .I2 (),
            .I3 (),
            .I4 (prescale_reg[2]),
            .ID ());
	// LUT = ~I1^CIN ;
	// CARRY = (~I1) ? CIN : (I4) ;

    GTP_LUT5CARRY /* \N121_3.fsub_4  */ #(
            .INIT(32'b10011001100110010011001100110011), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        \N121_3.fsub_4  (
            .COUT (\N121_3.co [4] ),
            .Z (N121[3]),
            .CIN (\N121_3.co [3] ),
            .I0 (),
            .I1 (nb0[3]),
            .I2 (),
            .I3 (),
            .I4 (nb0[3]),
            .ID ());
	// LUT = ~I1^CIN ;
	// CARRY = (~I1) ? CIN : (I4) ;

    GTP_LUT5CARRY /* \N121_3.fsub_5  */ #(
            .INIT(32'b10011001100110010011001100110011), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        \N121_3.fsub_5  (
            .COUT (\N121_3.co [5] ),
            .Z (N121[4]),
            .CIN (\N121_3.co [4] ),
            .I0 (),
            .I1 (prescale_reg[4]),
            .I2 (),
            .I3 (),
            .I4 (prescale_reg[4]),
            .ID ());
	// LUT = ~I1^CIN ;
	// CARRY = (~I1) ? CIN : (I4) ;

    GTP_LUT5CARRY /* \N121_3.fsub_6  */ #(
            .INIT(32'b10011001100110010011001100110011), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        \N121_3.fsub_6  (
            .COUT (\N121_3.co [6] ),
            .Z (N121[5]),
            .CIN (\N121_3.co [5] ),
            .I0 (),
            .I1 (nb0[5]),
            .I2 (),
            .I3 (),
            .I4 (nb0[5]),
            .ID ());
	// LUT = ~I1^CIN ;
	// CARRY = (~I1) ? CIN : (I4) ;

    GTP_LUT5CARRY /* \N121_3.fsub_7  */ #(
            .INIT(32'b10011001100110010011001100110011), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        \N121_3.fsub_7  (
            .COUT (\N121_3.co [7] ),
            .Z (N121[6]),
            .CIN (\N121_3.co [6] ),
            .I0 (),
            .I1 (prescale_reg[6]),
            .I2 (),
            .I3 (),
            .I4 (prescale_reg[6]),
            .ID ());
	// LUT = ~I1^CIN ;
	// CARRY = (~I1) ? CIN : (I4) ;

    GTP_LUT5CARRY /* \N121_3.fsub_8  */ #(
            .INIT(32'b10011001100110010011001100110011), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        \N121_3.fsub_8  (
            .COUT (\N121_3.co [8] ),
            .Z (N121[7]),
            .CIN (\N121_3.co [7] ),
            .I0 (),
            .I1 (prescale_reg[7]),
            .I2 (),
            .I3 (),
            .I4 (prescale_reg[7]),
            .ID ());
	// LUT = ~I1^CIN ;
	// CARRY = (~I1) ? CIN : (I4) ;

    GTP_LUT5CARRY /* \N121_3.fsub_9  */ #(
            .INIT(32'b10011001100110010011001100110011), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        \N121_3.fsub_9  (
            .COUT (\N121_3.co [9] ),
            .Z (N121[8]),
            .CIN (\N121_3.co [8] ),
            .I0 (),
            .I1 (prescale_reg[8]),
            .I2 (),
            .I3 (),
            .I4 (prescale_reg[8]),
            .ID ());
	// LUT = ~I1^CIN ;
	// CARRY = (~I1) ? CIN : (I4) ;

    GTP_LUT5CARRY /* \N121_3.fsub_10  */ #(
            .INIT(32'b10011001100110010011001100110011), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        \N121_3.fsub_10  (
            .COUT (\N121_3.co [10] ),
            .Z (N121[9]),
            .CIN (\N121_3.co [9] ),
            .I0 (),
            .I1 (nb0[9]),
            .I2 (),
            .I3 (),
            .I4 (nb0[9]),
            .ID ());
	// LUT = ~I1^CIN ;
	// CARRY = (~I1) ? CIN : (I4) ;

    GTP_LUT5CARRY /* \N121_3.fsub_11  */ #(
            .INIT(32'b10011001100110010011001100110011), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        \N121_3.fsub_11  (
            .COUT (\N121_3.co [11] ),
            .Z (N121[10]),
            .CIN (\N121_3.co [10] ),
            .I0 (),
            .I1 (prescale_reg[10]),
            .I2 (),
            .I3 (),
            .I4 (prescale_reg[10]),
            .ID ());
	// LUT = ~I1^CIN ;
	// CARRY = (~I1) ? CIN : (I4) ;

    GTP_LUT5CARRY /* \N121_3.fsub_12  */ #(
            .INIT(32'b10011001100110010011001100110011), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        \N121_3.fsub_12  (
            .COUT (\N121_3.co [12] ),
            .Z (N121[11]),
            .CIN (\N121_3.co [11] ),
            .I0 (),
            .I1 (nb0[11]),
            .I2 (),
            .I3 (),
            .I4 (nb0[11]),
            .ID ());
	// LUT = ~I1^CIN ;
	// CARRY = (~I1) ? CIN : (I4) ;

    GTP_LUT5CARRY /* \N121_3.fsub_13  */ #(
            .INIT(32'b10011001100110010011001100110011), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        \N121_3.fsub_13  (
            .COUT (\N121_3.co [13] ),
            .Z (N121[12]),
            .CIN (\N121_3.co [12] ),
            .I0 (),
            .I1 (prescale_reg[12]),
            .I2 (),
            .I3 (),
            .I4 (prescale_reg[12]),
            .ID ());
	// LUT = ~I1^CIN ;
	// CARRY = (~I1) ? CIN : (I4) ;

    GTP_LUT5CARRY /* \N121_3.fsub_14  */ #(
            .INIT(32'b10011001100110010011001100110011), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        \N121_3.fsub_14  (
            .COUT (\N121_3.co [14] ),
            .Z (N121[13]),
            .CIN (\N121_3.co [13] ),
            .I0 (),
            .I1 (prescale_reg[13]),
            .I2 (),
            .I3 (),
            .I4 (prescale_reg[13]),
            .ID ());
	// LUT = ~I1^CIN ;
	// CARRY = (~I1) ? CIN : (I4) ;

    GTP_LUT5CARRY /* \N121_3.fsub_15  */ #(
            .INIT(32'b10011001100110010011001100110011), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        \N121_3.fsub_15  (
            .COUT (\N121_3.co [15] ),
            .Z (N121[14]),
            .CIN (\N121_3.co [14] ),
            .I0 (),
            .I1 (prescale_reg[14]),
            .I2 (),
            .I3 (),
            .I4 (prescale_reg[14]),
            .ID ());
	// LUT = ~I1^CIN ;
	// CARRY = (~I1) ? CIN : (I4) ;

    GTP_LUT5CARRY /* \N121_3.fsub_16  */ #(
            .INIT(32'b10011001100110010011001100110011), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        \N121_3.fsub_16  (
            .COUT (\N121_3.co [16] ),
            .Z (N121[15]),
            .CIN (\N121_3.co [15] ),
            .I0 (),
            .I1 (prescale_reg[15]),
            .I2 (),
            .I3 (),
            .I4 (prescale_reg[15]),
            .ID ());
	// LUT = ~I1^CIN ;
	// CARRY = (~I1) ? CIN : (I4) ;

    GTP_LUT5CARRY /* \N121_3.fsub_17  */ #(
            .INIT(32'b10011001100110010011001100110011), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        \N121_3.fsub_17  (
            .COUT (\N121_3.co [17] ),
            .Z (N121[16]),
            .CIN (\N121_3.co [16] ),
            .I0 (),
            .I1 (prescale_reg[16]),
            .I2 (),
            .I3 (),
            .I4 (prescale_reg[16]),
            .ID ());
	// LUT = ~I1^CIN ;
	// CARRY = (~I1) ? CIN : (I4) ;

    GTP_LUT5CARRY /* \N121_3.fsub_18  */ #(
            .INIT(32'b10011001100110010011001100110011), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        \N121_3.fsub_18  (
            .COUT (\N121_3.co [18] ),
            .Z (N121[17]),
            .CIN (\N121_3.co [17] ),
            .I0 (),
            .I1 (prescale_reg[17]),
            .I2 (),
            .I3 (),
            .I4 (prescale_reg[17]),
            .ID ());
	// LUT = ~I1^CIN ;
	// CARRY = (~I1) ? CIN : (I4) ;

    GTP_LUT5CARRY /* \N121_3.fsub_19  */ #(
            .INIT(32'b10011001100110010011001100110011), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        \N121_3.fsub_19  (
            .COUT (),
            .Z (N121[18]),
            .CIN (\N121_3.co [18] ),
            .I0 (),
            .I1 (prescale_reg[18]),
            .I2 (),
            .I3 (),
            .I4 (prescale_reg[18]),
            .ID ());
	// LUT = ~I1^CIN ;
	// CARRY = (~I1) ? CIN : (I4) ;

    GTP_LUT3 /* \N121_4[3]  */ #(
            .INIT(8'b11111110))
        \N121_4[3]  (
            .Z (nb0[3]),
            .I0 (N124),
            .I1 (N127),
            .I2 (prescale_reg[3]));
	// LUT = (I0)|(I1)|(I2) ;

    GTP_LUT3 /* \N121_4[5]  */ #(
            .INIT(8'b11111110))
        \N121_4[5]  (
            .Z (nb0[5]),
            .I0 (N124),
            .I1 (N127),
            .I2 (prescale_reg[5]));
	// LUT = (I0)|(I1)|(I2) ;

    GTP_LUT3 /* \N121_4[9]  */ #(
            .INIT(8'b11111110))
        \N121_4[9]  (
            .Z (nb0[9]),
            .I0 (N124),
            .I1 (N127),
            .I2 (prescale_reg[9]));
	// LUT = (I0)|(I1)|(I2) ;

    GTP_LUT3 /* \N121_4[11]  */ #(
            .INIT(8'b11111110))
        \N121_4[11]  (
            .Z (nb0[11]),
            .I0 (N124),
            .I1 (N127),
            .I2 (prescale_reg[11]));
	// LUT = (I0)|(I1)|(I2) ;

    GTP_LUT4 /* N124 */ #(
            .INIT(16'b0101010101010100))
        N124_vname (
            .Z (N124),
            .I0 (N4),
            .I1 (bit_cnt[1]),
            .I2 (bit_cnt[2]),
            .I3 (bit_cnt[3]));
    // defparam N124_vname.orig_name = N124;
	// LUT = (~I0&I1)|(~I0&I2)|(~I0&I3) ;
	// ../source/uart/uart_tx.v:78

    GTP_LUT5 /* N127 */ #(
            .INIT(32'b00000000000000000000000000000100))
        N127_vname (
            .Z (N127),
            .I0 (N4),
            .I1 (bit_cnt[0]),
            .I2 (bit_cnt[1]),
            .I3 (bit_cnt[2]),
            .I4 (bit_cnt[3]));
    // defparam N127_vname.orig_name = N127;
	// LUT = ~I0&I1&~I2&~I3&~I4 ;

    GTP_DFF_RE /* \bit_cnt[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \bit_cnt[0]  (
            .Q (bit_cnt[0]),
            .CE (N124),
            .CLK (clk),
            .D (N161[0]),
            .R (N110));
	// ../source/uart/uart_tx.v:78

    GTP_DFF_RE /* \bit_cnt[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \bit_cnt[1]  (
            .Q (bit_cnt[1]),
            .CE (N124),
            .CLK (clk),
            .D (N161[1]),
            .R (N110));
	// ../source/uart/uart_tx.v:78

    GTP_DFF_RE /* \bit_cnt[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \bit_cnt[2]  (
            .Q (bit_cnt[2]),
            .CE (N124),
            .CLK (clk),
            .D (N161[2]),
            .R (N110));
	// ../source/uart/uart_tx.v:78

    GTP_DFF_RE /* \bit_cnt[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \bit_cnt[3]  (
            .Q (bit_cnt[3]),
            .CE (N124),
            .CLK (clk),
            .D (N161[3]),
            .R (N110));
	// ../source/uart/uart_tx.v:78

    GTP_DFF_RE /* \prescale_reg[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \prescale_reg[0]  (
            .Q (prescale_reg[0]),
            .CE (N120),
            .CLK (clk),
            .D (N121[0]),
            .R (\u_UART/rst_1 ));
	// ../source/uart/uart_tx.v:78

    GTP_DFF_RE /* \prescale_reg[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \prescale_reg[1]  (
            .Q (prescale_reg[1]),
            .CE (N120),
            .CLK (clk),
            .D (N121[1]),
            .R (\u_UART/rst_1 ));
	// ../source/uart/uart_tx.v:78

    GTP_DFF_RE /* \prescale_reg[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \prescale_reg[2]  (
            .Q (prescale_reg[2]),
            .CE (N120),
            .CLK (clk),
            .D (N121[2]),
            .R (\u_UART/rst_1 ));
	// ../source/uart/uart_tx.v:78

    GTP_DFF_RE /* \prescale_reg[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \prescale_reg[3]  (
            .Q (prescale_reg[3]),
            .CE (N120),
            .CLK (clk),
            .D (N121[3]),
            .R (\u_UART/rst_1 ));
	// ../source/uart/uart_tx.v:78

    GTP_DFF_RE /* \prescale_reg[4]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \prescale_reg[4]  (
            .Q (prescale_reg[4]),
            .CE (N120),
            .CLK (clk),
            .D (N121[4]),
            .R (\u_UART/rst_1 ));
	// ../source/uart/uart_tx.v:78

    GTP_DFF_RE /* \prescale_reg[5]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \prescale_reg[5]  (
            .Q (prescale_reg[5]),
            .CE (N120),
            .CLK (clk),
            .D (N121[5]),
            .R (\u_UART/rst_1 ));
	// ../source/uart/uart_tx.v:78

    GTP_DFF_RE /* \prescale_reg[6]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \prescale_reg[6]  (
            .Q (prescale_reg[6]),
            .CE (N120),
            .CLK (clk),
            .D (N121[6]),
            .R (\u_UART/rst_1 ));
	// ../source/uart/uart_tx.v:78

    GTP_DFF_RE /* \prescale_reg[7]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \prescale_reg[7]  (
            .Q (prescale_reg[7]),
            .CE (N120),
            .CLK (clk),
            .D (N121[7]),
            .R (\u_UART/rst_1 ));
	// ../source/uart/uart_tx.v:78

    GTP_DFF_RE /* \prescale_reg[8]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \prescale_reg[8]  (
            .Q (prescale_reg[8]),
            .CE (N120),
            .CLK (clk),
            .D (N121[8]),
            .R (\u_UART/rst_1 ));
	// ../source/uart/uart_tx.v:78

    GTP_DFF_RE /* \prescale_reg[9]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \prescale_reg[9]  (
            .Q (prescale_reg[9]),
            .CE (N120),
            .CLK (clk),
            .D (N121[9]),
            .R (\u_UART/rst_1 ));
	// ../source/uart/uart_tx.v:78

    GTP_DFF_RE /* \prescale_reg[10]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \prescale_reg[10]  (
            .Q (prescale_reg[10]),
            .CE (N120),
            .CLK (clk),
            .D (N121[10]),
            .R (\u_UART/rst_1 ));
	// ../source/uart/uart_tx.v:78

    GTP_DFF_RE /* \prescale_reg[11]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \prescale_reg[11]  (
            .Q (prescale_reg[11]),
            .CE (N120),
            .CLK (clk),
            .D (N121[11]),
            .R (\u_UART/rst_1 ));
	// ../source/uart/uart_tx.v:78

    GTP_DFF_RE /* \prescale_reg[12]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \prescale_reg[12]  (
            .Q (prescale_reg[12]),
            .CE (N120),
            .CLK (clk),
            .D (N121[12]),
            .R (\u_UART/rst_1 ));
	// ../source/uart/uart_tx.v:78

    GTP_DFF_RE /* \prescale_reg[13]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \prescale_reg[13]  (
            .Q (prescale_reg[13]),
            .CE (N120),
            .CLK (clk),
            .D (N121[13]),
            .R (\u_UART/rst_1 ));
	// ../source/uart/uart_tx.v:78

    GTP_DFF_RE /* \prescale_reg[14]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \prescale_reg[14]  (
            .Q (prescale_reg[14]),
            .CE (N120),
            .CLK (clk),
            .D (N121[14]),
            .R (\u_UART/rst_1 ));
	// ../source/uart/uart_tx.v:78

    GTP_DFF_RE /* \prescale_reg[15]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \prescale_reg[15]  (
            .Q (prescale_reg[15]),
            .CE (N120),
            .CLK (clk),
            .D (N121[15]),
            .R (\u_UART/rst_1 ));
	// ../source/uart/uart_tx.v:78

    GTP_DFF_RE /* \prescale_reg[16]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \prescale_reg[16]  (
            .Q (prescale_reg[16]),
            .CE (N120),
            .CLK (clk),
            .D (N121[16]),
            .R (\u_UART/rst_1 ));
	// ../source/uart/uart_tx.v:78

    GTP_DFF_RE /* \prescale_reg[17]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \prescale_reg[17]  (
            .Q (prescale_reg[17]),
            .CE (N120),
            .CLK (clk),
            .D (N121[17]),
            .R (\u_UART/rst_1 ));
	// ../source/uart/uart_tx.v:78

    GTP_DFF_RE /* \prescale_reg[18]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \prescale_reg[18]  (
            .Q (prescale_reg[18]),
            .CE (N120),
            .CLK (clk),
            .D (N121[18]),
            .R (\u_UART/rst_1 ));
	// ../source/uart/uart_tx.v:78

    GTP_DFF_SE /* txd_reg */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b1))
        txd_reg (
            .Q (txd),
            .CE (N124),
            .CLK (clk),
            .D (1'b0),
            .S (N110));
	// ../source/uart/uart_tx.v:78


endmodule


module uart
(
    input clk,
    input nt_rst_n,
    input \u_UART/rst_1 ,
    output txd
);

    uart_tx uart_tx_inst (
            .txd (txd),
            .clk (clk),
            .nt_rst_n (nt_rst_n),
            .\u_UART/rst_1  (\u_UART/rst_1 ));
	// ../source/uart/uart.v:78


endmodule


module uart_axi_lite_wrapper
(
    input clk,
    input rst_1,
    input rst_n,
    output txd
);

    uart u_uart_core (
            .txd (txd),
            .clk (clk),
            .nt_rst_n (rst_n),
            .\u_UART/rst_1  (rst_1));
	// ../source/uart/uart_axi_lite_wrapper.v:57


endmodule


module SoC_Top
(
    input [31:0] ext_axi_if_araddr,
    input [31:0] ext_axi_if_awaddr,
    input [31:0] ext_axi_if_wdata,
    input [3:0] ext_axi_if_wstrb,
    input ext_axi_if_arvalid,
    input ext_axi_if_awvalid,
    input ext_axi_if_bready,
    input ext_axi_if_rready,
    input ext_axi_if_wvalid,
    input rst_n,
    input sys_clk,
    input uart_rx,
    output [1:0] ext_axi_if_bresp,
    output [31:0] ext_axi_if_rdata,
    output [1:0] ext_axi_if_rresp,
    output ext_axi_if_arready,
    output ext_axi_if_awready,
    output ext_axi_if_bvalid,
    output ext_axi_if_rvalid,
    output ext_axi_if_wready,
    output uart_tx
);
	// SDC constraint : (object sys_clk) (id 1000) (clock sys_clk) (1 : E:/FPGA/TSP_RVmaster/FPGA/pango_cpu/source/top.fdc)
	// SDC constraint : (object sys_clk) (id 1001) (clock sys_clk|sys_pll_u0/u_pll_e3/CLKOUT0_Inferred) (inferred)
    wire clk;
    wire nt_ext_axi_if_arready;
    wire nt_ext_axi_if_arvalid;
    wire nt_ext_axi_if_awvalid;
    wire nt_ext_axi_if_bready;
    wire nt_ext_axi_if_bvalid;
    wire nt_ext_axi_if_rready;
    wire nt_ext_axi_if_rvalid;
    wire nt_ext_axi_if_wready;
    wire nt_ext_axi_if_wvalid;
    wire nt_rst_n;
    wire nt_sys_clk;
    wire nt_uart_tx;
    wire \u_UART/rst_1 ;

    GTP_GRS GRS_INST (
            .GRS_N (1'b1));

    GTP_OUTBUF /* ext_axi_if_arready_obuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        ext_axi_if_arready_obuf (
            .O (ext_axi_if_arready),
            .I (nt_ext_axi_if_arready));
	// ../source/peripheral/soc_top.v:17

    GTP_INBUF /* ext_axi_if_arvalid_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        ext_axi_if_arvalid_ibuf (
            .O (nt_ext_axi_if_arvalid),
            .I (ext_axi_if_arvalid));
	// ../source/peripheral/soc_top.v:17

    GTP_OUTBUF /* ext_axi_if_awready_obuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        ext_axi_if_awready_obuf (
            .O (ext_axi_if_awready),
            .I (nt_ext_axi_if_wready));
	// ../source/peripheral/soc_top.v:14

    GTP_INBUF /* ext_axi_if_awvalid_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        ext_axi_if_awvalid_ibuf (
            .O (nt_ext_axi_if_awvalid),
            .I (ext_axi_if_awvalid));
	// ../source/peripheral/soc_top.v:14

    GTP_INBUF /* ext_axi_if_bready_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        ext_axi_if_bready_ibuf (
            .O (nt_ext_axi_if_bready),
            .I (ext_axi_if_bready));
	// ../source/peripheral/soc_top.v:16

    GTP_OUTBUF /* \ext_axi_if_bresp_obuf[0]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \ext_axi_if_bresp_obuf[0]  (
            .O (ext_axi_if_bresp[0]),
            .I (1'b0));
	// ../source/peripheral/soc_top.v:16

    GTP_OUTBUF /* \ext_axi_if_bresp_obuf[1]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \ext_axi_if_bresp_obuf[1]  (
            .O (ext_axi_if_bresp[1]),
            .I (1'b0));
	// ../source/peripheral/soc_top.v:16

    GTP_OUTBUF /* ext_axi_if_bvalid_obuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        ext_axi_if_bvalid_obuf (
            .O (ext_axi_if_bvalid),
            .I (nt_ext_axi_if_bvalid));
	// ../source/peripheral/soc_top.v:16

    GTP_INBUF /* ext_axi_if_rready_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        ext_axi_if_rready_ibuf (
            .O (nt_ext_axi_if_rready),
            .I (ext_axi_if_rready));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUF /* \ext_axi_if_rresp_obuf[0]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \ext_axi_if_rresp_obuf[0]  (
            .O (ext_axi_if_rresp[0]),
            .I (1'b0));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUF /* \ext_axi_if_rresp_obuf[1]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \ext_axi_if_rresp_obuf[1]  (
            .O (ext_axi_if_rresp[1]),
            .I (1'b0));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUF /* ext_axi_if_rvalid_obuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        ext_axi_if_rvalid_obuf (
            .O (ext_axi_if_rvalid),
            .I (nt_ext_axi_if_rvalid));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUF /* ext_axi_if_wready_obuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        ext_axi_if_wready_obuf (
            .O (ext_axi_if_wready),
            .I (nt_ext_axi_if_wready));
	// ../source/peripheral/soc_top.v:15

    GTP_INBUF /* ext_axi_if_wvalid_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        ext_axi_if_wvalid_ibuf (
            .O (nt_ext_axi_if_wvalid),
            .I (ext_axi_if_wvalid));
	// ../source/peripheral/soc_top.v:15

(* PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="C4", PAP_IO_VCCIO="1.2", PAP_IO_STANDARD="LVCMOS12", PAP_IO_PULLUP="TRUE" *)    GTP_INBUF /* rst_n_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        rst_n_ibuf (
            .O (nt_rst_n),
            .I (rst_n));
	// ../source/peripheral/soc_top.v:5

(* PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="V9", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_PULLUP="TRUE" *)    GTP_INBUF /* sys_clk_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        sys_clk_ibuf (
            .O (nt_sys_clk),
            .I (sys_clk));
	// ../source/peripheral/soc_top.v:4

    sys_pll sys_pll_u0 (
            .clkout0 (clk),
            .clkin1 (nt_sys_clk));
	// ../source/peripheral/soc_top.v:21

    TSP_AXI_Interconnect u_Interconnect (
            .\u_UART/rst_1  (\u_UART/rst_1 ),
            .rst_n (nt_rst_n));
	// ../source/peripheral/soc_top.v:69

    TSP_Core u_TSP_Core (
            .s_axi_if_arready (nt_ext_axi_if_arready),
            .s_axi_if_bvalid (nt_ext_axi_if_bvalid),
            .s_axi_if_rvalid (nt_ext_axi_if_rvalid),
            .s_axi_if_wready (nt_ext_axi_if_wready),
            .clk (clk),
            .s_axi_if_arvalid (nt_ext_axi_if_arvalid),
            .s_axi_if_awvalid (nt_ext_axi_if_awvalid),
            .s_axi_if_bready (nt_ext_axi_if_bready),
            .s_axi_if_rready (nt_ext_axi_if_rready),
            .s_axi_if_wvalid (nt_ext_axi_if_wvalid),
            .\u_UART/rst_1  (\u_UART/rst_1 ));
	// ../source/peripheral/soc_top.v:51

    GTP_OUTBUFT /* \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[0]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[0]  (
            .O (ext_axi_if_rdata[0]),
            .I (1'b0),
            .T (1'b1));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUFT /* \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[1]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[1]  (
            .O (ext_axi_if_rdata[1]),
            .I (1'b0),
            .T (1'b1));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUFT /* \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[2]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[2]  (
            .O (ext_axi_if_rdata[2]),
            .I (1'b0),
            .T (1'b1));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUFT /* \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[3]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[3]  (
            .O (ext_axi_if_rdata[3]),
            .I (1'b0),
            .T (1'b1));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUFT /* \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[4]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[4]  (
            .O (ext_axi_if_rdata[4]),
            .I (1'b0),
            .T (1'b1));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUFT /* \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[5]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[5]  (
            .O (ext_axi_if_rdata[5]),
            .I (1'b0),
            .T (1'b1));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUFT /* \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[6]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[6]  (
            .O (ext_axi_if_rdata[6]),
            .I (1'b0),
            .T (1'b1));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUFT /* \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[7]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[7]  (
            .O (ext_axi_if_rdata[7]),
            .I (1'b0),
            .T (1'b1));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUFT /* \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[8]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[8]  (
            .O (ext_axi_if_rdata[8]),
            .I (1'b0),
            .T (1'b1));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUFT /* \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[9]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[9]  (
            .O (ext_axi_if_rdata[9]),
            .I (1'b0),
            .T (1'b1));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUFT /* \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[10]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[10]  (
            .O (ext_axi_if_rdata[10]),
            .I (1'b0),
            .T (1'b1));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUFT /* \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[11]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[11]  (
            .O (ext_axi_if_rdata[11]),
            .I (1'b0),
            .T (1'b1));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUFT /* \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[12]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[12]  (
            .O (ext_axi_if_rdata[12]),
            .I (1'b0),
            .T (1'b1));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUFT /* \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[13]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[13]  (
            .O (ext_axi_if_rdata[13]),
            .I (1'b0),
            .T (1'b1));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUFT /* \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[14]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[14]  (
            .O (ext_axi_if_rdata[14]),
            .I (1'b0),
            .T (1'b1));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUFT /* \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[15]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[15]  (
            .O (ext_axi_if_rdata[15]),
            .I (1'b0),
            .T (1'b1));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUFT /* \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[16]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[16]  (
            .O (ext_axi_if_rdata[16]),
            .I (1'b0),
            .T (1'b1));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUFT /* \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[17]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[17]  (
            .O (ext_axi_if_rdata[17]),
            .I (1'b0),
            .T (1'b1));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUFT /* \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[18]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[18]  (
            .O (ext_axi_if_rdata[18]),
            .I (1'b0),
            .T (1'b1));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUFT /* \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[19]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[19]  (
            .O (ext_axi_if_rdata[19]),
            .I (1'b0),
            .T (1'b1));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUFT /* \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[20]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[20]  (
            .O (ext_axi_if_rdata[20]),
            .I (1'b0),
            .T (1'b1));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUFT /* \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[21]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[21]  (
            .O (ext_axi_if_rdata[21]),
            .I (1'b0),
            .T (1'b1));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUFT /* \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[22]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[22]  (
            .O (ext_axi_if_rdata[22]),
            .I (1'b0),
            .T (1'b1));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUFT /* \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[23]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[23]  (
            .O (ext_axi_if_rdata[23]),
            .I (1'b0),
            .T (1'b1));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUFT /* \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[24]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[24]  (
            .O (ext_axi_if_rdata[24]),
            .I (1'b0),
            .T (1'b1));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUFT /* \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[25]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[25]  (
            .O (ext_axi_if_rdata[25]),
            .I (1'b0),
            .T (1'b1));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUFT /* \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[26]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[26]  (
            .O (ext_axi_if_rdata[26]),
            .I (1'b0),
            .T (1'b1));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUFT /* \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[27]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[27]  (
            .O (ext_axi_if_rdata[27]),
            .I (1'b0),
            .T (1'b1));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUFT /* \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[28]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[28]  (
            .O (ext_axi_if_rdata[28]),
            .I (1'b0),
            .T (1'b1));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUFT /* \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[29]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[29]  (
            .O (ext_axi_if_rdata[29]),
            .I (1'b0),
            .T (1'b1));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUFT /* \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[30]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[30]  (
            .O (ext_axi_if_rdata[30]),
            .I (1'b0),
            .T (1'b1));
	// ../source/peripheral/soc_top.v:18

    GTP_OUTBUFT /* \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[31]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \u_TSP_Core.u_TSP_Ifu.u_Iram.portB_rdata[31]  (
            .O (ext_axi_if_rdata[31]),
            .I (1'b0),
            .T (1'b1));
	// ../source/peripheral/soc_top.v:18

    uart_axi_lite_wrapper u_UART (
            .txd (nt_uart_tx),
            .clk (clk),
            .rst_1 (\u_UART/rst_1 ),
            .rst_n (nt_rst_n));
	// ../source/peripheral/soc_top.v:106

(* PAP_IO_DIRECTION="OUTPUT", PAP_IO_LOC="T11", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_PULLUP="TRUE" *)    GTP_OUTBUF /* uart_tx_obuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        uart_tx_obuf (
            .O (uart_tx),
            .I (nt_uart_tx));
	// ../source/peripheral/soc_top.v:9


endmodule

